*:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", serif;
}

.titles {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 26px;
    padding: 15px 0;
    position: relative;
    display: inline-block;
}

.titles::before {
    top: 0;
    left: 0;
    border-top: 3px solid #D4AF37;
}

.titles::after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #D4AF37;
}

.titles::before,
.titles::after {
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
}

header #myMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

header .menu-wrapper {
    position: fixed;
    right: 0;
    top: -100%;
    /* width: 65%; */
    width: 100%;
    height: 100vh;
    background-color: #292f4a;
    overflow-y: auto;
}

header .menu-wrapper .close-menu {
    position: absolute;
    top: 30px;
    right: 90px;
    width: 22px;
    cursor: pointer;
    z-index: 3;
    border: none;
    background-color: unset;
}

header .menu-wrapper .close-menu img {
    width: 100%;
}

header .menu-wrapper .menu-content-wrap {
    padding: 30px 60px;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

header .menu-wrapper .menu-content-wrap::before {
    -webkit-filter: opacity(0.05);
    filter: opacity(0.05);
    background-image: url(https://cdn1.ozone.ru/s3/multimedia-z/6326764871.jpg);
    background-repeat: repeat;
}

header .menu-wrapper .menu-content-wrap::before,
#ad-types::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header .menu-wrapper .section-flex {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
}

header .menu-wrapper .section-flex .nav-list-wrap {
    margin: 25px 0;
}

.br-right {
    border-right: 1px solid white;
}

header .menu-wrapper .section-flex .nav-list-wrap h6,
header .menu-wrapper .section-flex .nav-list-wrap .h6 {
    font-size: 20px;
    /* color: #f4afa5; */
    color: #e9a872;
    margin-bottom: 16px;
    padding: 0 30px;
    display: block;
}

header .menu-wrapper .section-flex .nav-list-wrap li {
    font-size: 18px;
    color: #fff;
    margin: 4px 0;
    padding: 0 30px;
}

header .menu-wrapper .section-flex .nav-list-wrap li span {
    padding-right: 15px;
    /* width: 23%; */
    width: 23.1%;
    display: inline-block;
    vertical-align: top;
}

header .menu-wrapper .section-flex .nav-list-wrap li address {
    margin-bottom: 0;
    display: inline-block;
    width: 75%;
}

header .menu-wrapper .section-flex .nav-list-wrap li a {
    color: #fff;
    -webkit-transition: 500ms all ease;
    transition: 500ms all ease;
}

header .menu-wrapper .section-flex .section-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

header .menu-wrapper .section-flex .section-bottom .nav-list-wrap h6 {
    /* padding-left: calc(24% + 13px); */
    padding-left: calc(24% + 13px);
}

header .menu-wrapper .section-flex .section-bottom .nav-list-wrap:nth-child(2) .nav-list::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 4px;
    bottom: 4px;
    width: 1px;
    background-color: #fff;
}

header {
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: .5s all ease;
}

/* header sticky */

header.sticky {
    background-color: #e8dfda;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header.sticky .logo {
    width: 150px;
}

header.sticky .logo img {
    filter: invert(0);
}

header.sticky nav ul a {
    color: #000;
    font-size: 18px;
}

header.sticky .line {
    background-color: #292f4a;
}

header.sticky .header_right button {
    padding: 10px 35px;
}

/* header sticky end */

.header_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 200px;
    transition: .5s all ease;
}

header .logo img {
    width: 100%;
    filter: invert(1);
    transition: .5s all ease;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul a {
    color: #fff;
    font-size: 20px;
    position: relative;
    font-weight: 400;
    transition: .7s all ease;
}

header nav ul a.active,
header nav ul a:hover {
    color: #D4AF37;
}

header nav ul a.active::after {
    content: "";
    background-color: #D4AF37;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 100%;
    position: absolute;
}

header nav ul a:not(.active)::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    background-color: #D4AF37;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 0;
    position: absolute;
    transition: .7s all ease;
}

header nav ul a:not(.active):hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header_right button {
    position: relative;
    padding: 15px 45px;
    background: #292f4a;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 1px solid #292f4a;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    animation: wind 2s ease-in-out infinite;
    transition: .7s all ease;
}

.header_right button svg {
    fill: #D4AF37;
}

@keyframes wind {
    0% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 50% 100%;
    }

    0% {
        background-position: 0% 50%;
    }
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
}

@keyframes slay-1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
}

@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
}

@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.header_right {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.ham_menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.line {
    width: 28px;
    height: 3px;
    background: #fff;
}

/* slider start */

.creative-fullpage--slider .swiper-button-next:after,
.creative-fullpage--slider .swiper-button-prev:after {
    position: absolute;
    opacity: 0;
}

.creative-fullpage--slider .swiper-button-wrapper img {
    filter: invert(1);
    padding: 1.7rem;
}

.creative-fullpage--slider .swiper img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* ============ Full Page Slider ================= */
.creative-fullpage--slider {
    background-color: #ffffff;
    z-index: 2;
    width: 100%;
    position: relative;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    display: flex;
    clip-path: none !important;
}

.creative-fullpage--slider .slider-inner {
    background: #000;
    height: 100vh;
    position: relative;
}

.creative-fullpage--slider .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    overflow: hidden;
}

.creative-fullpage--slider .swiper-slide .slider-inner img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(.5);
}

.creative-fullpage--slider .swiper-slide .slider-inner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.creative-fullpage--slider .swiper-slide .slider-inner .swiper-content {
    position: absolute;
    top: 22%;
    left: 50px;
    z-index: 1;
}

.creative-fullpage--slider .swiper-slide .slider-inner::after {
    content: "";
    position: absolute;
    width: 101%;
    height: 100%;
    top: 0;
    left: -1px;
    background-color: transparent;
    background-image: radial-gradient(at center right, #FFFFFF00 50%, #00000096 100%);
}

.creative-fullpage--slider .swiper-slide .slider-inner .swiper-content .title-area .tag {
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.creative-fullpage--slider .swiper-slide .slider-inner .swiper-content .title-area .title {
    margin-top: 50px;
    color: #fff;
    font-size: 8vw;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: -12px;
    text-decoration: none;
}

.creative-fullpage--slider .swiper-slide .slider-inner .swiper-content p.disc {
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
    margin: 20px 0px 40px 0px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFFB0;
}

.creative-btn--wrap .creative-slide--btn {
    color: #ffffff;
    margin-left: 18px;
    font-size: 1.4em;
    transition: margin-left 300ms cubic-bezier(0.49, 0, 0.01, 1);
    font-weight: 400;
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    outline-color: transparent;
    box-shadow: none;
    will-change: transform;
    backface-visibility: hidden;
}

.creative-btn--circle .circle {
    position: absolute;
    right: calc(100% - 10px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    clip-path: circle(25% at 50% 50%);
    transition: clip-path 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle .circle-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background-color: #ffffff;
    will-change: transform;
    transform: scale(0);
    z-index: 1;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1), background-color 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle-icon {
    transform: translate(-100%, 0%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition: all 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--circle .circle-icon .icon-arrow {
    width: 20px;
    height: 20px;
    stroke: none;
    fill: #000;
}

.creative-btn--circle .circle-outline {
    fill: transparent;
    width: 10px;
    stroke: #ffffff;
}

.creative-btn--wrap .creative-slide--btn .creative-btn--label {
    margin-left: 4pt;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--wrap .creative-slide--btn .creative-btn__border {
    position: absolute;
    left: 4pt;
    right: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    transform-origin: right;
    transition: transform 500ms cubic-bezier(0.49, 0, 0.01, 1);
}

.creative-btn--wrap .creative-slide--btn:hover .creative-btn--label {
    transform: translateX(18px);
}

.creative-btn--wrap .creative-slide--btn:hover .creative-btn__border {
    transform: scale(0, 1);
}

.creative-btn--wrap .creative-slide--btn:hover {
    margin-left: 38px !important;
}

.creative-btn--wrap .creative-slide--btn:hover .circle {
    clip-path: circle(50% at 50% 50%);
}

.creative-btn--wrap .creative-slide--btn:hover .circle-fill {
    transform: scale(1, 1);
}

.creative-btn--wrap .creative-slide--btn:hover .circle-icon {
    transform: translate(0%, 0%);
    opacity: 1;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-next,
.creative-fullpage--slider .swiper-container-h .swiper-button-prev {
    bottom: 5%;
    top: unset;
    transform: scale(1);
    transition: all 0.4s;
    background-color: #FFFFFF00;
    backdrop-filter: blur(20px);
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    transition: all 0.4s;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-next {
    right: 50px;
}

.creative-fullpage--slider .swiper-container-h .swiper-button-prev {
    left: 50px;
}

.swiper-container-h .slider-pagination-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: unset;
    right: unset;
    bottom: 80px;
    left: 50% !important;
    transform: translateX(-50%);
    width: 500px;
    z-index: 1;
}

.swiper-container-h .slider-pagination-area .slide-range {
    font-size: 16px;
    font-weight: 500;
    margin: 0 15px;
    color: #ffffff;
    line-height: 0;
    position: absolute;
    font-size: 20px;
}

.swiper-container-h .slider-pagination-area .slide-range.one {
    left: -50px;
}

.swiper-container-h .slider-pagination-area .slide-range.three {
    right: -50px;
}

.swiper-container-h .slider-pagination-area .swiper-pagination {
    bottom: 0 !important;
    width: 500px !important;
}

.swiper-container-h .slider-pagination-area .swiper-pagination .swiper-pagination-progressbar-fill {
    background: #ffffff;
}

.swiper-container-h .swiper-button-next::after {
    content: "\f061";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    background: none;
    color: #ffffff;
    font-size: 60px;
}

.swiper-container-h .swiper-button-prev::after {
    content: "\f060";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    background: none;
    color: #ffffff;
    font-size: 60px;
}

.swiper-container-h .swiper-button-next:hover,
.swiper-container-h .swiper-button-prev:hover {
    background: #FFFFFF0D;
}


/* ====================== Responsive Ipad =============================== */
@media (max-width: 991px) {
    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content {
        width: 100%;
        text-align: center;
        left: 0;
    }

    .creative-fullpage--slider .swiper-container-h .swiper-button-next,
    .creative-fullpage--slider .swiper-container-h .swiper-button-prev {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .swiper-container-h .slider-pagination-area {
        width: 200px !important;
    }

    .swiper-container-h .swiper-button-next::after,
    .swiper-container-h .swiper-button-prev::after {
        font-size: 30px;
    }

    .creative-fullpage--slider .swiper-container-h .swiper-button-next,
    .creative-fullpage--slider .swiper-container-h .swiper-button-prev {
        background: #ffffff3b;
    }

    .swiper-container-h .slider-pagination-area .swiper-pagination {
        bottom: 0 !important;
        width: 200px !important;
    }
}

/* ====================== Responsive Iphone =============================== */
@media screen and (max-width: 767px) {
    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content .title-area .title {
        font-size: 64px;
    }

    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content .title-area .tag {
        margin-bottom: 0px;
    }

    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content p.disc {
        margin: 20px auto 20px auto;
        font-size: 16px;
        width: 95%;
    }

    .swiper-container-h .slider-pagination-area {
        display: none;
    }

    .creative-fullpage--slider .swiper-slide .slider-inner .swiper-content p.disc br {
        display: none;
    }
}

/* slider end */

/* advantages start */

#advantages {
    padding: 3rem 0;
}

.adv_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.adv_card {
    background: #e8dfda;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .5s all ease;
}

.adv_card:hover {
    background-color: #292f4a;
}

.adv_card:hover img {
    transform: scale(1.1);
}

.adv_img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.adv_img img {
    width: 100%;
    height: 100%;
    transition: .5s all ease;
}

.adv_content {
    text-align: center;
}

.adv_content h3 {
    font-size: 20px;
}

.adv_card:hover h3 {
    color: #fff;
}

/* advantages end */

/* about start */

#about {
    padding-bottom: 3rem;
}

.about_both {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.about_right img {
    width: 100%;
    border-radius: 5px;
}

/* about end */

/* product start */

#products {
    background-color: #e8dfda;
    padding: 3rem 0;
}

#products .titles {
    margin-bottom: 0;
}

.swiper-slide-active .product_card {
    background-color: #292f4a !important;
    color: #fff;
    transform: scale(1.1);
}

.product_card {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 350px;
    transition: .6s all ease;
}

.product_card:hover {
    background: #292f4a;
    color: #fff;
}

.productSwiper {
    padding: 50px 0 20px 0;
}

.product_img {
    width: 200px;
    height: 120px;
    margin: 0 auto;
    object-fit: contain;
    margin-top: -45px;
}

.product_card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_content h2 {
    text-align: center;
}

.product_content p {
    text-align: center;
    font-size: 14px;
}

.product_card span {
    text-align: center;
    font-size: 16px;
}

.product_content small {
    font-weight: 600;
}

.cssbuttons-io-button {
    background: #D4AF37;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.3em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #D4AF37;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #D4AF37;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #D4AF37;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

#productsFavs {
    background-color: #fff;
    padding: 3rem 0;
}

#productsFavs .titles {
    margin-bottom: 0;
}

.productSwiperFav .product_card {
    background-color: #e8dfda;
}

.productSwiperFav .swiper-slide.active .product_card {
    background-color: #292f4a;
}

.productSwiperFav .swiper-slide:not(.swiper-slide-active) .product_card:hover {
    color: #292f4a;
}

/* products end */

/* blogs start */

#blogs {
    background-color: #e8dfda;
    padding: 3rem 0;
}

#app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
}

.card-wrap {
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-wrap:hover .card-info {
    transform: translateY(0);
}

.card-wrap:hover .card-info p {
    opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.card-wrap:hover .project_card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.project_card {
    position: relative;
    flex: 0 0 240px;
    width: 100%;
    height: 420px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
    opacity: 0.5;
    position: absolute;
    /*top: -20px;*/
    /*left: -20px;*/
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(20%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
    opacity: 0;
    text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
    position: relative;
    z-index: 1;
}

.card-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* blogs end */

/* call to action */

.corporative {
    height: 597px;
    background-image: url(https://s0.rbk.ru/v6_top_pics/media/img/0/99/756697376325990.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.corporative::after {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(#000000d9), to(transparent));
    background-image: -o-linear-gradient(left, #000000d9, transparent);
    background-image: linear-gradient(to right, #000000d9, transparent);
}

.corporative .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.corporative .section-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.corporative .section-heading {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
}

.corporative .section-desc {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}

.corporative .section-button {
    background-color: #0A3C91;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 11px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
}

.corporative .section-button span {
    position: relative;
    z-index: 1;
}

.corporative .section-button::after {
    content: "";
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: 0.4s width;
    -webkit-transition: 0.4s width;
    -moz-transition: 0.4s width;
    -ms-transition: 0.4s width;
    -o-transition: 0.4s width;
    z-index: 0;
}

.corporative .section-button:hover::after {
    width: 100%;
}

.cta_both {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.cta_right {
    position: relative;
    z-index: 2;
}

.cta_right .row {
    text-align: end;
}

.cta_right input {
    width: 100%;
    padding: 0.467rem 0.667rem;
    border: 0.133rem solid transparent;
    border-radius: 0.267rem;
    outline: none;
    background-color: #f5f5f5;
    transition: 0.6s all ease;
    border-radius: 0.667rem;
    padding: 1.133rem;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 10px;
}

.cta_right textarea {
    border-radius: 0.667rem;
    outline: none;
    padding: 1.333rem;
    border: 0.133rem solid transparent;
    transition: .6s all ease;
    background-color: #f5f5f5;
    resize: none;
    width: 100%;
}

/* call to action end */

/* footer */

footer {
    background-color: #050505;
}

.rv-1-footer-top {
    padding: 120px 0 90px;
}

.rv-6-footer-top {
    overflow: hidden;
}

ul.rv-6-footer-widget__links {
    max-width: 70%;
    line-height: 1.4;
}

.rv-6-footer-top__row {
    justify-content: space-between;
}

.rv-1-footer__about .logo {
    margin-bottom: 13px;
    filter: invert(1);
}

.rv-1-footer__about-txt {
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 27px;
    line-height: 1.4;
}

.rv-1-socials {
    display: flex;
    gap: 6px;
}

.rv-1-socials a {
    width: 40px;
    height: 40px;
    /* line-height: 40px; */
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, .5);
}

.rv-1-socials a:hover svg {
    fill: #fff;
}

.rv-1-socials svg {
    transition: .4s all ease;
    fill: rgba(255, 255, 255, .5);
    padding: 10px;
}

footer .has-anim::before,
footer .has-anim .to-animate {
    content: "";
    position: absolute;
    inset: 0;
    border: solid rgba(255, 255, 255, .1);
    border-width: 0 1px 0 1px;
    height: calc(100% + 240px);
    top: 50%;
    translate: -25px -50%;
    z-index: -1;
}

footer .has-anim .to-animate {
    background: linear-gradient(to top, #72afc2, transparent);
    width: 1px;
    height: 50px;
    border: none;
    animation: strokePosition 15s linear forwards infinite;
}

footer .has-anim .to-animate.reverse {
    background: linear-gradient(to bottom, #72afc2, transparent);
    animation: strokePosition 15s linear reverse infinite;
    right: 0;
    left: auto;
}

.rv-1-footer-widget__title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

@keyframes strokePosition {
    0% {
        top: -140px;
    }

    100% {
        top: calc(100% + 240px);
    }
}

.rv-1-footer-widget li {
    margin-bottom: 13px;
}

.rv-1-footer-widget li,
.rv-1-footer-widget li a,
.rv-1-footer-nwsltr a {
    color: rgba(255, 255, 255, .6);
    font-size: 15px;
    font-weight: 300;
    transition: .6s ease;
}

.rv-1-footer-widget li:hover,
.rv-1-footer-widget li a:hover,
.rv-1-footer-nwsltr a:hover {
    color: #fff;
}

footer .has-anim:last-child .to-animate {
    left: auto;
    right: 0;
}

.rv-1-footer-widget__title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

.rv-6-footer-nwsltr__form .nwsltr-top {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 18px;
}

.rv-6-footer-nwsltr__form .nwsltr-top>* {
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: 0;
    outline: none;
}

.rv-6-footer-nwsltr__form input {
    width: 100%;
}

.rv-6-footer-nwsltr__form button i {
    opacity: 60%;
    padding-right: 6px;
}

.rv-6-footer-nwsltr__checkbox {
    padding-top: 20px;
}

.rv-6-footer-nwsltr__checkbox input {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    margin-right: 10px;
}

.rv-6-footer-nwsltr__checkbox label,
.rv-6-footer-nwsltr__checkbox a {
    color: rgba(255, 255, 255, .5);
}

.rv-6-footer-nwsltr__checkbox a {
    -webkit-text-decoration: 1px underline rgba(255, 255, 255, .5);
    text-decoration: 1px underline rgba(255, 255, 255, .5);
}

.rv-2-footer {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 45px 0;
}

.rv-1-copyright {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

.rv-2-footer__nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.rv-2-footer__nav a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}

.rv-2-footer__nav a:not(:first-child) {
    border-left: 1px solid #fff;
    padding-left: 10px;
}

footer .has-anim {
    position: relative;
    z-index: 1;
}

/* footer end */